.head {
  background: rgb(23, 59, 219);
  font-size: 25px;
  text-align: center;
}

body {
  font-weight: bold;
  font-family: consolas;
  background-color: rgb(11, 198, 255);
}

.maincontent {
  
  padding-left: 5%;
}

#question {
  font-size: 40px;
}

ul {
  font-size: 20px;
}
