.head {
  background: orangered;
  font-size: 25px;
  text-align: center;
}

body {
  font-weight: bold;
  font-family: consolas;
  background-color: orange !important;
}

.maincontent {
  
  padding-left: 5%;
}

#title {
  font-size: 40px;
}

ul {
  font-size: 20px;
}
